	<div class="wrap maincontent">
		<div id="home" class="cf">
               <div class="slide slide-1">
                    <div class="container">
                        <h2 class="editable"><!-- contentEditable="true" -->
                            Pourquoi<br/>
                            mettre<br/>
                            en place<br/>
                            un programme<br/>
                            affinitaire ?
                        </h2>
                        <!-- <button class="save-edition">Enregistrer</button> -->

                        <a href="#_" id="slide-home-next">Slide home</a>
                    </div>
                </div>

                <div class="slide slide-2">
                    <div class="container editable"><!-- contentEditable="true" -->
                        <h2>Améliorer la satisfaction client</h2>

                        <div class="step">
                            <p class="numero">1</p>
                            
                            <p>Faciliter l'achat et l'utilisation du bien ou du service grâce à une offre clef en main incluant financement, assurance et assistance</p>
                        </div>

                        <div class="step">
                            <p class="numero">2</p>

                            <p>Répondre à la demande croissante de protection et de garanties dans un contexte économique et social incertain</p>
                        </div>

                        <div class="step">
                            <p class="numero">3</p>

                            <p>Proposer des services additionnels à des tarifs préférentiels dans une logique de fidélisation et de gestion de la relation client/adhérent</p>
                        </div>

                        <img src="{{ paths.theme }}images/illus-accueil.jpg" alt="Illustration" />

                        <a href="#_" id="slide-home-prev">Slide home</a>
                    </div>
                    <!-- <button class="save-edition">Enregistrer</button> -->
                </div>
            </div>

            <div class="local-link container-arrow">
                <a href="#demarche" class="step-arrow">Démarche</a>
            </div>

            <div id="demarche" class="cf">
                <h2>La démarche CFSA</h2>
				
                <ul>
                    <li class="cf">
                        <a href="#etape-1" class="analyse">
                            <span class="numero-etape">1</span>
                            <span class="nom-etape cf">
                                <span>Analyse stratégique<br/>des opportunités</span>
                                <span class="pointe"></span>
                            </span>
                        </a>
                    </li>
                    <li class="cf">
                        <a href="#etape-2" class="plan">
                            <span class="numero-etape">2</span>
                            <span class="nom-etape cf">
                                <span>Plan d'affaires affinitaire</span>
                                <span class="pointe"></span>
                            </span>
                        </a>
                    </li>
                    <li class="cf">
                        <a href="#etape-3" class="structuration">
                            <span class="numero-etape">3</span>
                            <span class="nom-etape cf">
                                <span>Structuration du programme</span>
                                <span class="pointe"></span>
                            </span>
                        </a>
                    </li>
                    <li class="cf">
                        <a href="#etape-4" class="developpement">
                            <span class="numero-etape">4</span>
                            <span class="nom-etape cf">
                                <span>Développement & Gestion<br/>du programme</span>
                                <span class="pointe"></span>
                            </span>
                        </a>
                    </li>
                </ul>

                <div id="slide-demarche" class="cf">
                    <div id="etape-1" class="etape">
                        <div class="texte">
                            <span class="numero">Étape 1 //<br/>Analyse stratégique des opportunités</span>

                            <ul class="editable"><!-- contentEditable="true" -->
                                <li>Identification des opportunités</li>
                                <li>Benchmark du marché et de la concurrence</li>
                                <li>Identification des programmes possibles</li>
                                <li>Choix des programmes à analyser</li>
                            </ul>
                            <!-- <button class="save-edition">Enregistrer</button> -->
                        </div>

                        <div class="visuel">
                            <p><span>Le + CFSA :</span>Le conseil</p>
                        </div>
                    </div>

                    <div id="etape-2" class="etape">
                        <div class="texte">
                            <span class="numero">Étape 2 //<br/>Plan d'affaires affinitaire</span>

                            <ul class="editable"><!-- contentEditable="true" -->
                                <li>Positionnement dans la chaine de valeur</li>
                                <li>Identification des partenaires potentiels</li>
                                <li>Scénarios de Revenus</li>
                                <li>Retour sur Investissement</li>
                            </ul>
                            <!-- <button class="save-edition">Enregistrer</button> -->
                        </div>

                        <div class="visuel">
                            <p><span>Le + CFSA :</span>La transparence</p>
                        </div>
                    </div>

                    <div  id="etape-3" class="etape">
                        <div class="texte">
                            <span class="numero">Étape 3 //<br/>Structuration du programme</span>

                            <ul class="editable"><!-- contentEditable="true" -->
                                <li>Sélection des porteurs de risques Assurance/Crédit</li>
                                <li>Sélection des prestataires de services </li>
                                <li>Choix des modes de distribution</li>
                                <li>Conception et tarification du produit</li>
                                <li>Définition du processus de vente et de gestion</li>
                                <li>Formation des équipes aux arguments de vente</li>
                            </ul>
                            <!-- <button class="save-edition">Enregistrer</button> -->
                        </div>

                        <div class="visuel">
                            <p><span>Le + CFSA :</span>L'innovation</p>
                        </div>
                    </div>

                    <div  id="etape-4" class="etape">
                        <div class="texte">
                            <span class="numero">Étape 4 //<br/>Développement & Gestion du programme</span>

                            <ul class="editable"><!-- contentEditable="true" -->
                                <li>Définition et suivi de la stratégie commerciale</li>
                                <li>Animation d'actions commerciales</li>
                                <li>Gestion des contrats</li>
                                <li>Collecte des primes</li>
                                <li>Gestion des sinistres</li>
                                <li>Reporting et analyse des résultats</li>
                                <li>Veille sur l'évolution du marché</li>
                            </ul>
                            <!-- <button class="save-edition">Enregistrer</button> -->
                        </div>

                        <div class="visuel">
                            <p><span>Le + CFSA :</span>L'efficacité</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="local-link container-arrow">
                <a href="#offre" class="step-arrow">Offre</a>
            </div>

            <div id="offre">
                <h2>L'offre CFSA</h2>

                <div id="slide-offre" class="cf">
                    <div id="slide-offre-1" class="cf">
                        <div class="texte">
                            <h3 class="editable"><!-- contentEditable="true" -->Une couverture de l'ensemble des besoins clients particuliers et professionnels</h3>
                            <!-- <button class="save-edition">Enregistrer</button> -->

                            <p class="editable"><!-- contentEditable="true" -->CFSA va au delà des solutions génériques traditionnelles, en créant pour vous un programme affinitaire sur mesure</p>
                            <!-- <button class="save-edition">Enregistrer</button> -->
                        </div>

                        <div id="programme">
                            <p>Programme affinitaire<br/>by CFSA</p>

                            <a href="#slide-offre-2" class="service fidelisation">Fidélisation et Gestion de la Relation Client</a>
                            <a href="#slide-offre-3" class="service paiements">Paiements et crédit</a>
                            <a href="#slide-offre-4" class="service assistance">Services d'assistance</a>
                            <a href="#slide-offre-5" class="service assurance">Garanties d'assurance</a>
                        </div>

                        <img src="{{ paths.theme }}images/offre.png" alt="Illustration" class="illus" />

                        <a href="#_" class="next">Suivant</a>
                    </div>

                    <div id="slide-offre-2" class="cf">
                        <div class="texte">
                            <p>Fidélisation et gestion de la relation client</p>

                            <ul class="editable"><!-- contentEditable="true" -->
                                <li>Mise en place et gestion de cartes de fidélité (Particuliers) ou de programmes de fidélisation (Professionnels et Entreprises)</li>
                                <li>Création et exploitation des bases de données clients (mailing, télémarketing, courtage en fichiers)</li>
                                <li>Animation et formation des réseaux de distribution pour les clients fidélisés (jeux, concours, catalogues)</li>
                                <li>Support commercial de terrain / marketing opérationnel</li>
                            </ul>
                            <!-- <button class="save-edition">Enregistrer</button> -->

                        </div>

                        <img src="{{ paths.theme }}images/offre-fidelisation.png" alt="Illustration" class="illus" />

                        <a href="#_" class="retour">Retour</a>

                        <a href="#_" class="prev">Précédent</a>

                        <a href="#_" class="next">Suivant</a>
                    </div>

                    <div id="slide-offre-3" class="cf">
                        <div class="texte">
                            <p>Paiements et crédits</p>

                            <ul class="editable"><!-- contentEditable="true" -->
                                <li>Mise en place et gestion de cartes de paiement carte co-brandée / carte privative</li>
                                <li>Crédits à la consommation : crédits affectés, crédits renouvelables, prêt personnels</li>
                                <li>Proposition de paiements fractionnés en plusieurs fois sans frais</li>
                            </ul>
                            <!-- <button class="save-edition">Enregistrer</button> -->

                        </div>

                        <img src="{{ paths.theme }}images/offre-paiements.png" alt="Illustration" class="illus" />

                        <a href="#_" class="retour">Retour</a>

                        <a href="#_" class="prev">Précédent</a>

                        <a href="#_" class="next">Suivant</a>
                    </div>

                    <div id="slide-offre-4" class="cf">
                        <div class="texte">
                            <p>Services d'assistance</p>

                            <ul class="editable"><!-- contentEditable="true" -->
                                <li>Services à la famille et à la personne (garde d'enfants, aide à domicile en cas d'accident, assistance pour les femmes enceintes)</li>
                                <li>Services pour la vie quotidienne et le domicile (contrôle de la consommation d'énergie, travaux de bricolage, assistance dépannage électricité et gaz, assistance juridique, assistance garde d'animaux,...)</li>
                                <li>Services aux personnes dépendantes / âgées (téléassistance, téléconsultation, aides à domicile)</li>
                                <li>Assistance voyage : assistance psychologique / helpline, hébergement, rapatriement sanitaire</li>
                                <li>Assistance / Dépannage sur véhicules et machines professionnels</li>
                                <li>.../...</li>
                            </ul>
                            <!-- <button class="save-edition">Enregistrer</button> -->
                        </div>

                        <img src="{{ paths.theme }}images/offre-assistance.png" alt="Illustration" class="illus" />

                        <a href="#_" class="retour">Retour</a>

                        <a href="#_" class="prev">Précédent</a>

                        <a href="#_" class="next">Suivant</a>
                    </div>

                    <div id="slide-offre-5" class="cf">
                        <div class="texte">
                            <p>Garanties d'assurance</p>

                            <ul class="editable"><!-- contentEditable="true" -->
                                <li>Auto, 2 Roues</li>
                                <li>Maison</li>
                                <li>Equipements</li>
                                <li>Santé</li>
                                <li>Enfants </li>
                                <li>Prévoyance </li>
                                <li>Annulation / Interruption de Voyages</li>
                                <li>Annulation / Interruption de Loisirs</li>
                                <li>Garanties moyens de paiements,<br/>perte et vol papiers d'identité</li>
                                <li>Objets de luxe</li>
                                <li>.../...</li>
                            </ul>
                            <!-- <button class="save-edition">Enregistrer</button> -->
                        </div>

                        <img src="{{ paths.theme }}images/offre-assurance.png" alt="Illustration" class="illus" />

                        <a href="#_" class="retour">Retour</a>

                        <a href="#_" class="prev">Précédent</a>

                        <a href="#_" class="next">Suivant</a>
                    </div>
                </div>
            </div>

            <div class="local-link container-arrow">
                <a href="#management" class="step-arrow">Management</a>
            </div>

            <div id="management">
                <h2>Management</h2>
				{% setcontent records = "managers" %}
                <ul class="cf">
                	{% for record in records %}
                		<li {% if loop.index is divisibleby(2) %}class="right"{% endif %}>
                        	<div class="carte cf editable">
                        	<img src="{{ paths.files }}{{ record.photo }}" alt="{{ record.name }}" />
                        	<p class="nom">{{ record.name }}</p>
                            <p class="fonction">{{ record.fonction }}</p>
                        	{{ record.text_fr }}
                	{% endfor %}
                </ul>
            </div>

            <div class="local-link container-arrow">
                <a href="#references" class="step-arrow">Références</a>
            </div>

            <div id="references">
                <h2>Références</h2>
                {% setcontent records = "références" %}
	               <ul class="cf">
                	{% for record in records %}
                		<li {% if loop.index is divisibleby(2) %}class="right"{% endif %}>
                        <div class="carte cf">
	                        <img src="{{ paths.files }}{{ record.photo }}" alt="{{ record.name }}" />
                        <p class="editable">{{ record.text_fr }}</p>
	                        </div>
	                    </li>
                	{% endfor %}
                </ul>
            </div>

            <div class="local-link container-arrow">
                <a href="#partenaires" class="step-arrow">Partenaires</a>
            </div>

            <div id="partenaires">
                <h2>Partenaires</h2>
				{% setcontent records = "partenaires" %}
                <ul class="cf">
                {% for record in records %}
                    <li><img src="{{ paths.files }}{{ record.photo }}" alt="{{ record.name }}" /></li>
                {% endfor %}
                </ul>
            </div>

            <div class="local-link container-arrow">
                <a href="#contacts" class="step-arrow">Contacts</a>
            </div>

            <div id="contacts" class="cf">
                <h2>Contact</h2>

                <div id="gmap">
                    <iframe width="512" height="266" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=8+Rue+la+Fayette,+Paris,+France&amp;aq=2&amp;oq=8+rue+la+&amp;sll=43.280391,5.380496&amp;sspn=0.337421,0.837021&amp;ie=UTF8&amp;hq=&amp;hnear=8+Rue+la+Fayette,+75009+Paris,+%C3%8Ele-de-France,+France&amp;t=m&amp;ll=48.873296,2.334251&amp;spn=0.015017,0.043859&amp;z=14&amp;iwloc=near&amp;output=embed"></iframe>
                </div>

                <div id="coordonnees">
                    <div class="adresse">
                        <p>
                            <strong>CFSA<br/>
                            Affinity Solutions</strong><br/>
                            8 rue La Fayette<br/>
                            75009 Paris
                        </p>
                    </div>

                    <div class="acces">
                        <p>
                            <strong>Accès</strong><br/>
                            Métro : Chaussée d'Antin - La Fayette - Lignes 7 et 9<br/>
                            RER : Auber - Ligne A
                        </p>

                        <p>
                            Tel : 01 44 69 90 55<br/>
                            Fax : 01 42 93 93 60
                        </p>
                    </div>

                    <div class="plus">
                        <p>
                            Pour plus d'informations,<br/>
                            vous pouvez nous contacter par mail :<br/>
                            <a href="mailto:info@cfsaffinity.com" target="_blank">info@cfsaffinity.com</a>
                        </p>

                        <p class="local-link">
                            Vous avez une question ?<br/>
                            <a href="#contact-form">Cliquez ici pour être recontacté</a> par nos équipes
                        </p>
                    </div>
                </div>
            </div>

            <div class="local-link container-arrow">
                <a href="#contact-form" class="step-arrow">Formulaire</a>
            </div>

            <div id="contact-form">
               
                <p>Merci de remplir le formulaire ci-dessous afin que nous puissions vous contacter rapidement</p>

				{{ simpleform('contact_fr') }}
			
			</div>