<footer id="footer">
	<p>&copy; Copyright CFSA Affinity - <a href="mentions-legales_en.php">Legal notice</a></p>
</footer>
</div><!-- /main wrap -->

<script src="{{ paths.theme }}javascripts/jquery-1.9.1.min.js"></script>
<script src="{{ paths.theme }}javascripts/jquery.validate.min.js"></script>
<script src="{{ paths.theme }}javascripts/jquery.scrollTo-1.4.3.1-min.js"></script>
<script src="{{ paths.theme }}javascripts/jquery.localscroll-1.2.7-min.js"></script>
<script src="{{ paths.theme }}javascripts/jquery.carouFredSel.js"></script>
<script src="{{ paths.theme }}javascripts/main.js"></script>
<script type="text/javascript">

    // if( /Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent) ) {
    //     $("#main-menu,#home,#demarche,#offre,#management,#references,#partenaires,#top,.step-arrow").addClass('hidden');
    // }
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39480536-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
<!-- End Footer -->
</body>
</html>