<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ htmllang() }}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="{{ htmllang() }}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="{{ htmllang() }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ htmllang() }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {# make sure we always display a proper title: The record's title if there is one, appended with the
       sitename. If there is no title, we append the sitename with the payoff, if there is one. #}
    <title>CFSA Affinity Solutions</title>


    {# paths.theme is always a correct path to the current theme. Even if you rename the theme-folder,
       this will keep working. See the documentation on paths: http://docs.bolt.cm/internals#paths #}
    <link rel="stylesheet" href="{{ paths.theme }}stylesheets/normalize.min.css">
    <link rel="stylesheet" href="{{ paths.theme }}stylesheets/main.css">
    <link rel="stylesheet" href="{{ paths.theme }}stylesheets/print.css">
    <link rel="stylesheet" href="{{ paths.theme }}stylesheets/form.css">
    <link rel="stylesheet" href="{{ paths.theme }}stylesheets/layout.css">

    <script src="{{ paths.theme }}javascripts/modernizr-2.6.2.min.js"></script>

</head>
<body class="english-version">
<header>
    <div id="status"></div>
    <div class="wrap">
        <div id="logo" class="local-link">
            <a href="index_en.php#home">
                <img src="{{ paths.theme }}images/logo.png" alt="CFSA Affinity Solutions" />
            </a>
        </div>

        <div id="intro" class="editable"><!-- contentEditable="true" -->
            <h1>Affinity Solutions Brokerage</h1>

            <p>“We are a specialised broker firm dedicates to helping you create, market and administer custom-made insurance, assistance & credit programmes that enhance your product or service offering”</p>
        </div>
        <!-- <button class="save-edition">Enregistrer</button> -->

        <div id="top">
            <a href="index.php?partner=en" class="courtier">Partner login</a>

            <a href="index.php" class="language">FR</a>
        </div>
    </div>

    <ul id="main-menu" class="local-link">
        <li>
            <a href="index.php?lang=en#home">Home</a>
        </li>
        <li>
            <a href="index.php?lang=en#demarche">Approach</a>
        </li>
        <li>
            <a href="index.php?lang=en#offre">Products</a>
        </li>
        <li>
            <a href="index.php?lang=en#management">Management team</a>
        </li>
        <li>
            <a href="index.php?lang=en#references">Clients</a>
        </li>
        <li>
            <a href="index.php?lang=en#partenaires">Partners</a>
        </li>
        <li>
            <a href="index.php?lang=en#contacts">Contact</a>
        </li>
    </ul>
</header>